@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Junge&family=Poppins:wght@500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
footer{
    background-color: #fade9d;
}
.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #CFE7EB;
}
.content{
    height: 600px;
    overflow: auto;
}
.inner-content{
    height: 295px;
}
form.nosubmit {
    border: none;
    padding: 0;
  }
  
input.nosubmit {
    width: 260px;
    border: 1px solid #555;
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }
.color-black{
    color: black;
}
.color-2{
    color: gray;
}
.color-blue{
    background-color: #CFE7EB;
}
.basis-25{
    flex-basis: 25%;
}
.basis-20{
    flex-basis: 20%;
}
.basis-18{
    flex-basis: 18%;
}
.radius-1{
    border-radius: 1.5em;
}
.radius-2{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.radius-3{
    border-radius: 0.8em;
}
.radius-4{
    border-top-left-radius: 1em;
}
.gap-50{
    gap: 4em;
}
.gap-category-1{
    gap: 2.5em;
}
.height-1{
    height: 5em;
}
.w-65{
    width: 65%;
}
.w-45{
    width: 45%;
}
.w-40{
    width: 40%;
}
.w-35{
    width: 35%;
}
.w-15{
    width: 15%;
}
.mx-6{
    margin-right: 4.5rem!important;
    margin-left: 4.5rem!important;
}
.px-6{
    padding-left: 4rem;
    padding-right: 4rem;
}
.py-2-5{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.py-4-5{
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}
.bg-gray{
    background-color: rgb(197, 197, 197);
}
.form-color{
    background-color: #D3E5AB;
}
.form-btn-color{
    background-color: #FADE9D;
}
/*font size*/
.fs-05{
    font-size: 0.7em;
}
.fs-09{
    font-size: 0.9em;
}
.fs-15{
    font-size: 1.5em;
}
.fs-6{
    font-size: 2em;
}
.top-5{
    top: 5%;
}
.title{
    color: white;
    transition: 0.4s;
}
.title:hover{
    color: rgb(173, 172, 172);
    font-size: 1.9em;
    transition: 0.4s;
}
.btn-category{
    transition: 0.4s;
    width: 5em;
}
.btn-category:hover{
    font-size: 1.6em;
    transition: 0.4s;
}
.btn-profile:hover{
    cursor: pointer;
}
.bg-peach{
    background-color: #FBC1AD;
    transition: 0.4s;
}
.bg-peach:hover{
    background-color: #fea183;
    transition: 0.4s;
}

/*navbar*/
nav{
    background-color: #fade9d;
    font-weight: bold;
    height: 10vh;
}
.navbar-brand span{
    color: #197159;
}
.nav-btn{
    transition: 0.5s;
}
.nav-btn:hover{
    color: black;
    background-color: #FBC1AD;
    padding: 0.8em;
    border-radius: 20px;
    transition: 0.5s;
}
.active-2{
    border-bottom: 2px solid #197159;
}

.included{
    list-style: none;
}
.detail::before{
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    color: #197159;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}
.btn-success{
    background-color: #A3CEBD;
}
.btn-success:hover{
    background-color: #7aae99;
}
.btn-secondary-2{
    background-color: #E5E1E0;
}

.line-break{
    width: 100%;
    margin: 5px;
}

